html {
  font-size: 24px;
}

/* .container { */
  /* border: solid; */
  /* font-size: initial; */
/* } */

.item {
  border: solid;
  font-size: initial;
}

.button {
  background-color: skyblue;
}

/* em { */
  /* border: inherit; */
/* } */

.container {
  display: flex;
}